<!DOCTYPE html>
<html lang="en-US" class="no-js">

<!-- Mirrored from webdesign-finder.com/pet-space/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Feb 2018 20:13:54 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Pet Space &#8211; Just another WordPress site</title>
    <link rel='dns-prefetch' href='http://maxcdn.bootstrapcdn.com/' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Pet Space &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Pet Space &raquo; Comments Feed" href="comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/webdesign-finder.com\/pet-space\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.4"}};
        !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='booked-icons-css'  href='{{asset('css/icons8a54.css?ver=1.0.0') }}' type='text/css' media='all' />
    <link rel='stylesheet' id='booked-tooltipster-css'  href='{{asset('css/tooltipster8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='booked-tooltipster-theme-css'  href='{{asset('css/tooltipster-light8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='booked-animations-css'  href='{{ asset('css/animations8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href='{{ asset('css/styles8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='sb_instagram_styles-css'  href='{{ asset('css/sb-instagram.min8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='sb-font-awesome-css'  href='{{ asset('css/font-awesome.min.css')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  href='{{ asset('css/font-awesome.min8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-icon-fonts-css'  href='{{ asset('css/fonts8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-font-css'  href='{{ asset('css/font1.css')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-woo-css'  href='{{ asset('wp-content/themes/pet-space/css/woo8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-booked-css'  href='{{ asset('wp-content/themes/pet-space/css/booked8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-accesspress-css'  href='{{ asset('wp-content/themes/pet-space/css/accesspress8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-css-style-css'  href='{{ asset('wp-content/themes/pet-space/style8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-bootstrap-css'  href='{{ asset('wp-content/themes/pet-space/css/bootstrap.min8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-animations-css'  href='{{ asset('wp-content/themes/pet-space/css/animations8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-main-css'  href='{{ asset('wp-content/themes/pet-space/css/main8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='fw-shortcode-divider-css'  href='{{ asset('wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/divider/static/css/styles8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <script type='text/javascript' src='{{ asset('wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4')}}'></script>
    <script type='text/javascript' src='{{ asset('wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1')}}'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var SnazzyDataForSnazzyMaps = [];
        SnazzyDataForSnazzyMaps={"id":25,"name":"Blue water","description":"A simple map with blue water and roads\/landscape in grayscale. ","url":"https:\/\/snazzymaps.com\/style\/25\/blue-water","imageUrl":"https:\/\/snazzy-maps-cdn.azureedge.net\/assets\/25-blue-water.png?v=20170621023229","json":"[{\"featureType\":\"administrative\",\"elementType\":\"labels.text.fill\",\"stylers\":[{\"color\":\"#444444\"}]},{\"featureType\":\"landscape\",\"elementType\":\"all\",\"stylers\":[{\"color\":\"#f2f2f2\"}]},{\"featureType\":\"poi\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"off\"}]},{\"featureType\":\"road\",\"elementType\":\"all\",\"stylers\":[{\"saturation\":-100},{\"lightness\":45}]},{\"featureType\":\"road.highway\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"simplified\"}]},{\"featureType\":\"road.arterial\",\"elementType\":\"labels.icon\",\"stylers\":[{\"visibility\":\"off\"}]},{\"featureType\":\"transit\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"off\"}]},{\"featureType\":\"water\",\"elementType\":\"all\",\"stylers\":[{\"color\":\"#46bcec\"},{\"visibility\":\"on\"}]}]","views":234226,"favorites":567,"createdBy":{"name":"Xavier","url":"http:\/\/www.xavierfoucrier.fr"},"createdOn":"2013-11-05T16:09:45.02","tags":["light","simple"],"colors":["blue","gray"]};
        /* ]]> */
    </script>
    <script type='text/javascript' src='{{ asset('wp-content/plugins/snazzy-maps/snazzymapsc358.js?ver=1.1.3') }}'></script>
    <script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/js/vendor/modernizr-2.6.2.min61da.js?ver=2.6.2') }}'></script>
    <link rel='https://api.w.org/' href='{{ asset('wp-json/index.html')}}' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.html?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.8.4" />
    <meta name="generator" content="WooCommerce 3.2.1" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" type="application/json+oembed" href="{{ asset('wp-json/oembed/1.0/embed3f60.json?url=http%3A%2F%2Fwebdesign-finder.com%2Fpet-space%') }}" />
    <link rel="alternate" type="text/xml+oembed" href="{{ asset('wp-json/oembed/1.0/embed3375?url=http%3A%2F%2Fwebdesign-finder.com%2Fpet-space%2F&amp;format=xml') }}" />
    <noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
    <link rel="icon" href="{{ asset('wp-content/uploads/2017/08/cropped-favicon-1-150x150.png')}}" sizes="32x32" />
    <link rel="icon" href="{{ asset('wp-content/uploads/2017/08/cropped-favicon-1-300x300.png')}}" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('wp-content/uploads/2017/08/cropped-favicon-1-180x180.png')}}" />
    <meta name="msapplication-TileImage" content="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/cropped-favicon-1-300x300.png" />
</head>
{% block content %}
<body class="home page-template page-template-page-templates page-template-full-width page-template-page-templatesfull-width-php page page-id-7 masthead-fixed full-width with-slider grid light-body"><!--tc: test cache -->
<!-- page preloader -->
<div class="preloader">
    <div class="preloader_image fa-spin"></div>
</div>

<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">
			<i class="rt-icon2-cross2"></i>
		</span>
    </button>
    <div class="widget widget_search">

        <form role="search" method="get" class="search-form form-inline" action="http://webdesign-finder.com/pet-space/">
            <div class="form-group">
                <label>
                    <input type="search" class="search-field form-control"
                           placeholder="Search"
                           value="" name="s"
                           title="Search for:"/>
                </label>
            </div>
            <button type="submit" class="search-submit theme_button">
                <span class="screen-reader-text">Search</span>
            </button>
        </form>
    </div>
</div>
<!-- Unyson messages modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
    <div class="fw-messages-wrap ls with_padding">
    </div>
</div><!-- eof .modal -->

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas" class="wide">
    <div id="box_wrapper">
        <!-- template sections -->
        <section class="page_topline with_search ls ms section_padding_10 table_section">
            <h3 class="hidden">Page Topline</h3>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 text-center text-sm-left">
                        <p class="divided-content greylinks">
											<span class="header_welcome_text">
							Pet shop in Iowa						</span>
                            <a href="Contact">How to Find Us</a>																	<a href="#footer">Give Feedback</a>									</div>
                    <div class="col-sm-4 header_right_buttons text-center text-sm-right hidden-xs">
                        <div class="inline-content">
                            <div class="widget widget_search inline-block">

                                <form role="search" method="get" class="search-form form-inline" action="http://webdesign-finder.com/pet-space/">
                                    <div class="form-group">
                                        <label>
                                            <input type="search" class="search-field form-control"
                                                   placeholder="Search"
                                                   value="" name="s"
                                                   title="Search for:"/>
                                        </label>
                                    </div>
                                    <button type="submit" class="search-submit theme_button">
                                        <span class="screen-reader-text">Search</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- .page_topline -->
        <section class="page_toplogo table_section table_section_md section_padding_top_15 section_padding_bottom_15 ls">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center text-md-left">
                        <a href="index.html"
                           rel="home" class="logo logo_image_only">
                            <img src="{{ asset('Picture/logo-2.png')}}" alt="">
                        </a>			</div>
                    <div class="col-md-9 text-center text-md-right">
                        <div class="inline-teasers-wrap">

                            <div class="small-teaser text-left">
                                <p class="small-text grey margin_0">
                                    CALL US TODAY: 								</p>
                                <p class="highlight2 fontsize_20 medium">
                                    8 800 269 8469								</p>
                            </div>

                            <div class="small-teaser text-left">
                                <p class="small-text grey margin_0">
                                    OUR LOCATION:								</p>
                                <p class="highlight2 fontsize_20 medium">
                                    253 Adams Ave, Iowa								</p>
                            </div>

                            <div class="small-teaser text-left">
                                <p class="small-text grey margin_0">
                                    OPEN HOURS:								</p>
                                <p class="highlight2 fontsize_20 medium">
                                    Mon - Sat 8am - 6pm								</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- eof .col- -->
        </section>
        <header class="page_header ls toggler_left with_top_border item_with_border affix-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 display_table">
                        <div class="header_mainmenu display_table_cell">
                            <nav class="mainmenu_wrapper primary-navigation">
                                <ul id="menu-main-menu" class="sf-menu nav-menu nav"><li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-126"><a href="index.html" >Home</a></li>
                                    <li id="menu-item-212" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-212"><a href="#" >Pages</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href="about/index.html" >About</a></li>
                                            <li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213"><a href="faq/index.html" >FAQ</a></li>
                                            <li id="menu-item-290" class="menu-item menu-item-type-post_type_archive menu-item-object-fw-team menu-item-has-children menu-item-290"><a href="member/index.html" >Team</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-2371" class="menu-item menu-item-type-post_type menu-item-object-fw-team menu-item-2371"><a href="member/frank-stephens/index.html" >Team member</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"><a href="elements/index.html" >Elements</a></li>
                                            <li id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"><a href="typography/index.html" >Typography</a></li>
                                            <li id="menu-item-430" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-430"><a href="404.html" >404</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-129" class="menu-item menu-item-type-post_type_archive menu-item-object-fw-services menu-item-129"><a href="service/index.html" >Services</a></li>
                                    <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="blog/index.html" >Blog</a></li>
                                    <li id="menu-item-266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266"><a href="shop/index.html" >Shop</a></li>
                                    <li id="menu-item-229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-229"><a href="app_dev.php/Contact" >Contacts</a></li>
                                    <li id="menu-item-256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-256"><a href="appointment/index.html" >Appointment</a></li>
                                </ul>					</nav>
                            <!-- header toggler -->
                            <span class="toggle_menu"><span></span></span>
                        </div>
                        <div class="header_right_buttons display_table_cell text-right">
                            <div class="page_social_icons greylinks">
						<span class="social-icons">
				<a href="http://www.facebook.com/#"
                   class="social-icon soc-facebook border-icon rounded-icon"></a>
						<a href="http://twitter.com/#"
                           class="social-icon soc-twitter border-icon rounded-icon"></a>
						<a href="https://plus.google.com/#"
                           class="social-icon soc-google border-icon rounded-icon"></a>
			</span>

                            </div><!-- eof social icons -->
                        </div>
                    </div><!--	eof .col-sm-* -->
                </div><!--	eof .row-->
            </div> <!--	eof .container-->
        </header><!-- eof .page_header -->	<section class="intro_section page_mainslider">
            <div class="flexslider">
                <ul class="slides">
                    <li class="ls ms text-left">
                        <img src="{{   asset('Picture/slide01.jpg')}}" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="slide_description_wrapper">
                                        <div class="slide_description">
                                            <div class="intro-layer "
                                                 data-animation="fadeInLeft">
                                                <h2											class=" black normal 											">
                                                    Every Pet Deserves										</h2>
                                            </div>
                                            <div class="intro-layer "
                                                 data-animation="fadeInRight">
                                                <h2											class=" black bold 											">
                                                    Celebrity Care										</h2>
                                            </div>
                                            <div class="intro-layer "
                                                 data-animation="fadeIn">
                                                <p											class="small  normal 											">
                                                </p>
                                            </div>
                                            <div class="intro-layer "
                                                 data-animation="pullUp">
                                                <p											class="small black thin 											">
                                                    Strip steak short ribs picanha shoulder bresaola. Pork belly brisket shankle short loin.										</p>
                                            </div>
                                            <div class="intro-layer"
                                                 data-animation="fadeIn">
                                                <a href="appointment/index.html"
                                                   class="theme_button color3">Make an Appointment</a>
                                            </div>

                                        </div> <!-- eof .slide_description -->
                                    </div> <!-- eof .slide_description_wrapper -->
                                </div> <!-- eof .col-* -->
                            </div><!-- eof .row -->
                        </div><!-- eof .container -->
                    </li>
                    <li class="ls ms text-left">
                        <img src="{{ asset('Picture/slide02.jpg') }}" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="slide_description_wrapper">
                                        <div class="slide_description">
                                            <div class="intro-layer "
                                                 data-animation="pullUp">
                                                <h2											class=" black normal 											">
                                                    Qualified Personal										</h2>
                                            </div>
                                            <div class="intro-layer "
                                                 data-animation="pullDown">
                                                <h2											class=" black bold 											">
                                                    Care For Your Pets										</h2>
                                            </div>
                                            <div class="intro-layer "
                                                 data-animation="fadeIn">
                                                <p											class="small  normal 											">
                                                </p>
                                            </div>
                                            <div class="intro-layer "
                                                 data-animation="slideRight">
                                                <p											class="small black thin 											">
                                                    Strip steak short ribs picanha shoulder bresaola. Pork belly brisket shankle short loin.										</p>
                                            </div>
                                            <div class="intro-layer"
                                                 data-animation="fadeIn">
                                                <a href="appointment/index.html"
                                                   class="theme_button color3">Make an Appointment</a>
                                            </div>

                                        </div> <!-- eof .slide_description -->
                                    </div> <!-- eof .slide_description_wrapper -->
                                </div> <!-- eof .col-* -->
                            </div><!-- eof .row -->
                        </div><!-- eof .container -->
                    </li>
                    <li class="ls ms text-left">
                        <img src="{{ asset('Picture/slide03.jpg') }}" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="slide_description_wrapper">
                                        <div class="slide_description">
                                            <div class="intro-layer "
                                                 data-animation="pullDown">
                                                <h2											class=" black normal 											">
                                                    Every Pet Deserves										</h2>
                                            </div>
                                            <div class="intro-layer "
                                                 data-animation="pullUp">
                                                <h2											class=" black bold 											">
                                                    Celebrity Care										</h2>
                                            </div>
                                            <div class="intro-layer "
                                                 data-animation="fadeIn">
                                                <p											class="small  normal 											">
                                                </p>
                                            </div>
                                            <div class="intro-layer "
                                                 data-animation="fadeInUp">
                                                <p											class="small black thin 											">
                                                    Strip steak short ribs picanha shoulder bresaola. Pork belly brisket shankle short loin.										</p>
                                            </div>
                                            <div class="intro-layer"
                                                 data-animation="expandUp">
                                                <a href="appointment/index.html"
                                                   class="theme_button color3">Make an Appointment</a>
                                            </div>

                                        </div> <!-- eof .slide_description -->
                                    </div> <!-- eof .slide_description_wrapper -->
                                </div> <!-- eof .col-* -->
                            </div><!-- eof .row -->
                        </div><!-- eof .container -->
                    </li>
                </ul>
            </div> <!-- eof flexslider -->
            <div class="scroll_button_wrap">
                <a href="#about" class="scroll_button">
                    <span class="sr-only">scroll down</span>
                </a>
            </div>
        </section> <!-- eof intro_section -->
        <div class="fw-page-builder-content"><section class="fw-main-row  ls section_padding_top_100 section_padding_bottom_100 columns_padding_15"  id="about">
                <h3 class="hidden"> About</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 to_animate text-center col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 "  data-animation="fadeInUp">
                            <div class="shortcode-icon">
                                <div
                                        class="icon-wrap size_normal default_icon color_1">
                                    <i class="fa fa-paw"></i>
                                </div>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 20px;"></div>
                            <div class="special-heading text-center">
                                <h2 class="section_header margin_0  ">
	<span class="grey bold  ">
		Welcome to Our Salon	</span>
                                </h2>
                                <p class=" paragraph">
	<span class=" regular text-uppercase spacing-text-small">
		Best Pet salon in iowa	</span>
                                </p>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 45px;"></div>
                        </div>
                        <div class="col-xs-12 col-md-6 to_animate"  data-animation="slideInRight">
                            <img src="{{ asset('Picture/about.jpg') }}" alt="//webdesign-finder.com/pet-space/wp-content/uploads/2017/08/about.jpg" /></div>
                        <div class="col-xs-12 col-md-6 to_animate"  data-animation="slideInLeft">
                            <div class="text-block">
                                <p>Drumstick flank pork chop pastrami tenderloin. Turkey bacon cow beef ribs salami pork loin kevin fatback alcatra shankle turducken landjaeger ground round. Jerky beef turkey. </p></div>

                            <div class="fw-divider-space " style="padding-top: 25px;"></div>
                            <div class="text-block">
                                <ul class="list1"><li>Pam sausage cow fatback ball</li><li>Hamburger prosciutto boudin</li><li>Doner leberkas pig baconudin</li></ul></div>

                            <div class="fw-divider-space " style="padding-top: 30px;"></div>
                            <a href="about/index.html" target="_self"
                               class="theme_button color1 wide_button">
                                Read More</a></div>
                    </div>
                </div>
            </section>
            <section class="fw-main-row  ls ms section_padding_top_100 section_padding_bottom_100 columns_padding_15" >
                <h3 class="hidden"> What We Do</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 to_animate text-center col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 "  data-animation="fadeInUp">
                            <div class="shortcode-icon">
                                <div
                                        class="icon-wrap size_normal default_icon color_4">
                                    <i class="fa fa-paw"></i>
                                </div>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 20px;"></div>
                            <div class="special-heading text-center">
                                <h2 class="section_header margin_0  ">
	<span class="grey bold  ">
		What We Do	</span>
                                </h2>
                                <p class=" paragraph">
	<span class=" regular text-uppercase spacing-text-small">
		All kinds of services	</span>
                                </p>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 45px;"></div>
                        </div>
                        <div class="col-xs-12 col-md-4 to_animate"  data-animation="pullUp">
                            <div class="teaser text-center ">
                                <div class="teaser_image">
                                    <img src="{{ asset('Picture/01-1.jpg') }}" alt="Nail Trim &amp; Ear Cleaning">
                                </div>
                                <h4>
                                    Nail Trim &amp; Ear Cleaning				</h4>
                                <p>
                                    Bresaola tail short loin kevin corned beef turducken pork chop short ribs		</p>
                            </div>


                            <div class="fw-divider-space " style="padding-top: 30px;"></div>
                        </div>
                        <div class="col-xs-12 col-md-4 to_animate"  data-animation="pullUp">
                            <div class="teaser text-center ">
                                <div class="teaser_image">
                                    <img src="{{ asset('Picture/02-1.png') }}" alt="Combing &amp; Brushing">
                                </div>
                                <h4>
                                    Combing &amp; Brushing				</h4>
                                <p>
                                    Bresaola tail short loin kevin corned beef turducken pork chop short ribs		</p>
                            </div>


                            <div class="fw-divider-space " style="padding-top: 30px;"></div>
                        </div>
                        <div class="col-xs-12 col-md-4 to_animate"  data-animation="pullUp">
                            <div class="teaser text-center ">
                                <div class="teaser_image">
                                    <img src="{{ asset('Picture/03-1.png') }}" alt="Clipping Fur &amp; Haircut">
                                </div>
                                <h4>
                                    Clipping Fur &amp; Haircut				</h4>
                                <p>
                                    Bresaola tail short loin kevin corned beef turducken pork chop short ribs		</p>
                            </div>


                            <div class="fw-divider-space " style="padding-top: 30px;"></div>
                        </div>
                        <div class="col-xs-12 text-center"  >
                            <a href="index.php/service/index.html" target="_self"
                               class="theme_button color4 wide_button">
                                All Services</a>
                            <div class="fw-divider-space " style="padding-top: 6px;"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="fw-main-row  ls section_padding_top_100 section_padding_bottom_75 columns_padding_15" >
                <h3 class="hidden"> Meet Our Team</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 to_animate text-center col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 "  data-animation="fadeInUp">

                            <div class="fw-divider-space " style="padding-top: 5px;"></div>
                            <div class="shortcode-icon">
                                <div
                                        class="icon-wrap size_normal default_icon color_2">
                                    <i class="fa fa-paw"></i>
                                </div>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 20px;"></div>
                            <div class="special-heading text-center">
                                <h2 class="section_header margin_0  ">
	<span class="grey bold  ">
		Meet Our Team	</span>
                                </h2>
                                <p class=" paragraph">
	<span class=" regular text-uppercase spacing-text-small">
		Seasoned and skilled staff	</span>
                                </p>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 50px;"></div>
                        </div>
                        <div class="col-xs-12"  >
                            <div
                                    class="shortcode-team owl-carousel  "
                                    data-margin="30"
                                    data-responsive-xs="1"
                                    data-responsive-sm="2"
                                    data-responsive-md="3"
                                    data-responsive-lg="3"
                                    data-nav="true"
                                    data-loop="true"
                            >
                                <div class="owl-carousel-item team ">
                                    <div class="vertical-item content-padding text-center with_shadow rounded overflow-hidden">

                                        <div class="item-media">
                                            <img width="370" height="358" src="{{ asset('wp-content/uploads/2017/08/01.jpg') }}" class="attachment-pet-space-team-member size-pet-space-team-member wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/01.jpg 370w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/01-300x290.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />		</div>
                                        <div class="item-content">

                                            <p class="margin_0 small-text highlight3">Pet groomer</p>

                                            <h4 class="item-title topmargin_0  hover-color3">
                                                <a href="member/theresa-green/index.html">
                                                    Theresa Green			</a>
                                            </h4>

                                            <div class="desc">
                                                <p>Theresa is shank pig cow hamburger. Ground round short loin meatbal loin porchetta.</p>
                                            </div>

                                            <div class="team-social-icons color2links">
				<span class="social-icons">
				<a href="https://www.facebook.com/#"
                   class="social-icon soc-facebook "></a>
						<a href="https://twitter.com/#"
                           class="social-icon soc-twitter "></a>
						<a href="https://youtube.com/#"
                           class="social-icon soc-youtube "></a>
						<a href="https://plus.google.com/#"
                           class="social-icon soc-google "></a>
			</span>

                                            </div><!-- eof social icons -->
                                        </div>
                                    </div><!-- eof .vertical-item -->
                                </div>
                                <div class="owl-carousel-item team ">
                                    <div class="vertical-item content-padding text-center with_shadow rounded overflow-hidden">

                                        <div class="item-media">
                                            <img width="370" height="358" src="{{ asset('wp-content/uploads/2017/08/02.jpg') }}" class="attachment-pet-space-team-member size-pet-space-team-member wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/02.jpg 370w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/02-300x290.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />		</div>
                                        <div class="item-content">

                                            <p class="margin_0 small-text highlight3">Cat Groomer</p>

                                            <h4 class="item-title topmargin_0  hover-color3">
                                                <a href="member/rosie-white/index.html">
                                                    Rosie White			</a>
                                            </h4>

                                            <div class="desc">
                                                <p>Rosie is andouille picanha ball tip boudin cow bacon chuck swine pig tri-tip biltong bresaola.</p>
                                            </div>

                                            <div class="team-social-icons color2links">
				<span class="social-icons">
				<a href="https://www.facebook.com/#"
                   class="social-icon soc-facebook "></a>
						<a href="https://twitter.com/#"
                           class="social-icon soc-twitter "></a>
						<a href="https://youtube.com/#"
                           class="social-icon soc-youtube "></a>
						<a href="https://plus.google.com/#"
                           class="social-icon soc-google "></a>
			</span>

                                            </div><!-- eof social icons -->
                                        </div>
                                    </div><!-- eof .vertical-item -->
                                </div>
                                <div class="owl-carousel-item team ">
                                    <div class="vertical-item content-padding text-center with_shadow rounded overflow-hidden">

                                        <div class="item-media">
                                            <img width="370" height="358" src="{{ asset('wp-content/uploads/2017/08/03.jpg') }}" class="attachment-pet-space-team-member size-pet-space-team-member wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/03.jpg 370w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/03-300x290.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />		</div>
                                        <div class="item-content">

                                            <p class="margin_0 small-text highlight3">Dog Groomer</p>

                                            <h4 class="item-title topmargin_0  hover-color3">
                                                <a href="member/estelle-marsh/index.html">
                                                    Estelle Marsh			</a>
                                            </h4>

                                            <div class="desc">
                                                <p>Estelle is biltong picanha capicola, burgdoggen spare ribs leberkas meatloaf. Pig bresaola t-bone.</p>
                                            </div>

                                            <div class="team-social-icons color2links">
				<span class="social-icons">
				<a href="https://www.facebook.com/#"
                   class="social-icon soc-facebook "></a>
						<a href="https://twitter.com/#"
                           class="social-icon soc-twitter "></a>
						<a href="https://youtube.com/#"
                           class="social-icon soc-youtube "></a>
						<a href="https://plus.google.com/#"
                           class="social-icon soc-google "></a>
			</span>

                                            </div><!-- eof social icons -->
                                        </div>
                                    </div><!-- eof .vertical-item -->
                                </div>
                                <div class="owl-carousel-item team ">
                                    <div class="vertical-item content-padding text-center with_shadow rounded overflow-hidden">

                                        <div class="item-media">
                                            <img width="370" height="358" src="{{ asset('wp-content/uploads/2017/08/04.jpg') }}" class="attachment-pet-space-team-member size-pet-space-team-member wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04.jpg 370w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-300x290.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />		</div>
                                        <div class="item-content">

                                            <p class="margin_0 small-text highlight3">Rabbit groomer</p>

                                            <h4 class="item-title topmargin_0  hover-color3">
                                                <a href="member/alberta-rogers/index.html">
                                                    Alberta Rogers			</a>
                                            </h4>

                                            <div class="desc">
                                                <p>Alberta is sed in ribeye nisi cillum. Ad leberkas labore cow, incididunt deserunt cillum aute elit.</p>
                                            </div>

                                            <div class="team-social-icons color2links">
				<span class="social-icons">
				<a href="https://www.facebook.com/#"
                   class="social-icon soc-facebook "></a>
						<a href="https://twitter.com/#"
                           class="social-icon soc-twitter "></a>
						<a href="https://youtube.com/#"
                           class="social-icon soc-youtube "></a>
						<a href="https://plus.google.com/#"
                           class="social-icon soc-google "></a>
			</span>

                                            </div><!-- eof social icons -->
                                        </div>
                                    </div><!-- eof .vertical-item -->
                                </div>
                                <div class="owl-carousel-item team ">
                                    <div class="vertical-item content-padding text-center with_shadow rounded overflow-hidden">

                                        <div class="item-media">
                                            <img width="370" height="358" src="{{ asset('wp-content/uploads/2017/08/05.jpg') }}" class="attachment-pet-space-team-member size-pet-space-team-member wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/05.jpg 370w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/05-300x290.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />		</div>
                                        <div class="item-content">

                                            <p class="margin_0 small-text highlight3">Cat Groomer</p>

                                            <h4 class="item-title topmargin_0  hover-color3">
                                                <a href="member/bernard-lambert/index.html">
                                                    Bernard Lambert			</a>
                                            </h4>

                                            <div class="desc">
                                                <p>Bernard is rump laborum enim magna velit ipsum boudin. Short loin ipsum officia ea nisi dolor.</p>
                                            </div>

                                            <div class="team-social-icons color2links">
				<span class="social-icons">
				<a href="https://www.facebook.com/#"
                   class="social-icon soc-facebook "></a>
						<a href="https://twitter.com/#"
                           class="social-icon soc-twitter "></a>
						<a href="https://youtube.com/#"
                           class="social-icon soc-youtube "></a>
						<a href="https://plus.google.com/#"
                           class="social-icon soc-google "></a>
			</span>

                                            </div><!-- eof social icons -->
                                        </div>
                                    </div><!-- eof .vertical-item -->
                                </div>
                                <div class="owl-carousel-item team ">
                                    <div class="vertical-item content-padding text-center with_shadow rounded overflow-hidden">

                                        <div class="item-media">
                                            <img width="370" height="358" src="wp-content/uploads/2017/08/06.jpg" class="attachment-pet-space-team-member size-pet-space-team-member wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/06.jpg 370w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/06-300x290.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />		</div>
                                        <div class="item-content">

                                            <p class="margin_0 small-text highlight3">Rabbit Groomer</p>

                                            <h4 class="item-title topmargin_0  hover-color3">
                                                <a href="member/frank-stephens/index.html">
                                                    Frank Stephens			</a>
                                            </h4>

                                            <div class="desc">
                                                <p>Frank is mollit ipsum cupidatat commodo occaecat pariatur in eu porchetta landjaeger turkey aliqua.</p>
                                            </div>

                                            <div class="team-social-icons color2links">
				<span class="social-icons">
				<a href="https://www.facebook.com/#"
                   class="social-icon soc-facebook "></a>
						<a href="https://twitter.com/#"
                           class="social-icon soc-twitter "></a>
						<a href="https://youtube.com/#"
                           class="social-icon soc-youtube "></a>
						<a href="https://plus.google.com/#"
                           class="social-icon soc-google "></a>
			</span>

                                            </div><!-- eof social icons -->
                                        </div>
                                    </div><!-- eof .vertical-item -->
                                </div>
                            </div>
                            <div class="fw-divider-space " style="padding-top: 5px;"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="fw-main-row  ds section_padding_top_100 section_padding_bottom_75 columns_padding_15 parallax" style="background-image:url(wp-content/uploads/2017/08/progress.jpg);">
                <h3 class="hidden"> Book Mobile Grooming</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 to_animate text-center"  data-animation="fadeInUp">

                            <div class="fw-divider-space " style="padding-top: 5px;"></div>
                            <div class="shortcode-icon">
                                <div
                                        class="icon-wrap size_normal default_icon color_3">
                                    <i class="fa fa-paw"></i>
                                </div>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 20px;"></div>
                            <div class="special-heading text-center">
                                <h2 class="section_header margin_0  ">
	<span class="grey bold  ">
		Book Mobile Grooming	</span>
                                </h2>
                                <p class=" paragraph">
	<span class=" regular text-uppercase spacing-text-small">
		Best Pet salon in iowa	</span>
                                </p>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 55px;"></div>
                            <div class="form-wrapper  columns_padding_15">
                                <form data-fw-form-id="fw_form" method="post" action="http://webdesign-finder.com/pet-space/" class="fw_form_fw_form" data-fw-ext-forms-type="contact-forms"><input type="hidden" name="fwf" value="fw_form" /><input type="hidden" id="_nonce_382829a97405f2cabd73ccd6d692d1a2" name="_nonce_382829a97405f2cabd73ccd6d692d1a2" value="ac246c5913" /><input type="hidden" name="_wp_http_referer" value="/pet-space/" /><input type="hidden" name="fw_ext_forms_form_type" value="contact-forms" /><input type="hidden" name="fw_ext_forms_form_id" value="8cd15195cfd9741851034a3651935b94" /><div class="wrap-forms">
                                        <div class="row"></div><div class="row"><div class="col-xs-12 col-md-4 form-builder-item color3">
                                                <div class="form-group has-placeholder">
                                                    <label for="id-1">Full name			<sup>*</sup>		</label>
                                                    <i class="fa fa-user color3"></i>		<input class="form-control" type="text" name="text_ac1496a" placeholder="Full name" value="" id="id-1" required="required">
                                                </div>
                                            </div><div class="col-xs-12 col-md-4 form-builder-item color3">
                                                <div class="form-group has-placeholder">
                                                    <label for="id-2">Phone Number			<sup>*</sup>		</label>
                                                    <i class="fa fa-phone color3"></i>		<input class="form-control" type="text" name="text_94fc087" placeholder="Phone Number" value="" id="id-2" required="required">
                                                </div>
                                            </div><div class="col-xs-12 col-md-2 form-builder-item">
                                                <div class="form-group has-placeholder">
                                                    <div class="field-date">
                                                        <label for="id-date-3">Date			<sup>*</sup>
                                                        </label>
                                                        <i class="fa fa-calendar color3"></i>		<input class="form-control" type="text" name="date_time_2cb8244" placeholder="Date" value="" id="id-date-3" required="required" data-pick-date="true" data-pick-time="false" data-language="en">
                                                    </div>
                                                </div>
                                            </div><div class="col-xs-12 col-md-2 form-builder-item">
                                                <div class="form-group has-placeholder">
                                                    <div class="field-date">
                                                        <label for="id-date-4">Time			<sup>*</sup>
                                                        </label>
                                                        <i class="fa fa-clock-o color3"></i>		<input class="form-control" type="text" name="date_time_189e2a2" placeholder="Time" value="" id="id-date-4" required="required" data-pick-date="false" data-pick-time="true" data-language="en">
                                                    </div>
                                                </div>
                                            </div></div><div class="row"><div class="col-xs-12 form-builder-item">
                                                <div class="form-group has-placeholder">
                                                    <label for="id-5">Message			<sup>*</sup>		</label>
                                                    <i class="fa fa-comment color3"></i>		<textarea class="form-control" rows="3" name="textarea_16bd6a9" placeholder="Message" id="id-5" required="required"></textarea>
                                                </div>
                                            </div></div><div class="row"></div></div><div class="wrap-forms wrap-forms-buttons topmargin_10">
                                        <div class="row">
                                            <div class="col-sm-12 wrap-buttons text-center">
                                                <input class="theme_button color3 wide_button" type="submit" value="Make an Appointment" />
                                                <input class="theme_button color3 wide_button" type="reset" value="Clear" />
                                            </div>
                                        </div>
                                    </div></form></div>
                            <div class="fw-divider-space " style="padding-top: 15px;"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="fw-main-row  ls section_padding_top_100 section_padding_bottom_0 columns_padding_15" >
                <h3 class="hidden"> Our Mission</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 to_animate text-left"  data-animation="fadeInUp">

                            <div class="fw-divider-space " style="padding-top: 5px;"></div>
                            <div class="shortcode-icon">
                                <div
                                        class="icon-wrap size_normal default_icon color_4">
                                    <i class="fa fa-paw"></i>
                                </div>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 20px;"></div>
                            <div class="special-heading text-left">
                                <h2 class="section_header margin_0  ">
	<span class="grey bold  ">
		Our Mission	</span>
                                </h2>
                                <p class=" paragraph">
	<span class=" regular text-uppercase spacing-text-small">
		Delivering the best pet care	</span>
                                </p>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 45px;"></div>
                            <div class="text-block">
                                <p class="grey">					Do swine ipsum leberkas, chicken drumstick jerky frankfurter reprehe voluptate ea t-bone lorem pork loin!				</p></div>

                            <div class="fw-divider-space " style="padding-top: 26px;"></div>
                            <div class="text-block">
                                <p>Capicola mollit swine aute, minim cupim frankfurter kielbasa. Chicken elit magna dolor bresaola velit. Qui est ball tip pork belly pariatur eu strip steak consequat labore aliqua salami ground round. Sint aliquip venison est shoulder swine exercitation dolor.</p></div>

                            <div class="fw-divider-space " style="padding-top: 50px;"></div>
                            <a href="about/index.html" target="_self"
                               class="theme_button color2 wide_button">
                                Read More</a>
                            <div class="fw-divider-space " style="padding-top: 40px;"></div>
                        </div>
                        <div class="col-xs-12 col-md-6 top-overlap"  >
                            <img src="{{ asset('Picture/mission.png') }}" alt="//webdesign-finder.com/pet-space/wp-content/uploads/2017/08/mission.png" /></div>
                    </div>
                </div>
            </section>
            <section class="fw-main-row  cs main_color3 section_padding_top_100 section_padding_bottom_100 columns_padding_15 parallax section_overlay" style="background-image:url(wp-content/uploads/2017/08/testimonials.jpg);">
                <h3 class="hidden"> Testimonials</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 to_animate text-center"  data-animation="fadeInUp">

                            <div class="fw-divider-space " style="padding-top: 5px;"></div>
                            <div class="shortcode-icon">
                                <div
                                        class="icon-wrap size_normal default_icon color_1">
                                    <i class="fa fa-paw"></i>
                                </div>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 20px;"></div>
                            <div class="special-heading text-center">
                                <h2 class="section_header margin_0  ">
	<span class=" bold  ">
		What Clients Say	</span>
                                </h2>
                                <p class=" paragraph">
	<span class=" regular text-uppercase spacing-text-small">
		Because pets can not tell you their impressions	</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center"  >
                            <div class="testimonials owl-carousel testimonials-carousel" data-dots="1" data-responsive-xs="1" data-responsive-sm="1"
                                 data-responsive-md="1" data-responsive-lg="1">
                                <blockquote>
                                    <div class="avatar">
                                        <img src="{{ asset('Picture/01-2.jpg') }}"
                                             alt="Ray Cunningham"/>
                                    </div>
                                    <div class="blockqoute-content">
                                        With the notion of just how much pet do hate sitting in the groomer&#039;s chair, Estelle Marsh undid it all for Enny!
                                    </div>
                                    <h4	class="author-name">Ray Cunningham</h4>
                                    <span class="blockqoute-meta">
						<span
                                class="author-job small-text">							Client																																				</span>
					</span>
                                </blockquote>
                                <blockquote>
                                    <div class="avatar">
                                        <img src="{{ asset('Picture/02-4.jpg') }}"
                                             alt="Charly Williams"/>
                                    </div>
                                    <div class="blockqoute-content">
                                        With the notion of just how much pet do hate sitting in the groomer&#039;s chair, Estelle Marsh undid it all for Enny!					</div>
                                    <h4	class="author-name">Charly Williams</h4>
                                    <span class="blockqoute-meta">
						<span
                                class="author-job small-text">							Client																																				</span>
					</span>
                                </blockquote>
                                <blockquote>
                                    <div class="avatar">
                                        <img src="{{ asset('Picture/03-3.jpg') }}"
                                             alt="Albert Schneider"/>
                                    </div>
                                    <div class="blockqoute-content">
                                        With the notion of just how much pet do hate sitting in the groomer&#039;s chair, Estelle Marsh undid it all for Enny!
                                    </div>
                                    <h4	class="author-name">Albert Schneider</h4>
                                    <span class="blockqoute-meta">
						<span
                                class="author-job small-text">							Client																																				</span>
					</span>
                                </blockquote>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 10px;"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="fw-main-row  ls section_padding_top_100 section_padding_bottom_100 columns_padding_15" >
                <h3 class="hidden"> Latest News</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 to_animate text-center"  data-animation="fadeInUp">

                            <div class="fw-divider-space " style="padding-top: 5px;"></div>
                            <div class="shortcode-icon">
                                <div
                                        class="icon-wrap size_normal default_icon color_3">
                                    <i class="fa fa-paw"></i>
                                </div>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 20px;"></div>
                            <div class="special-heading text-center">
                                <h2 class="section_header margin_0  ">
	<span class=" bold  ">
		From Our Blog	</span>
                                </h2>
                                <p class=" paragraph">
	<span class=" regular text-uppercase spacing-text-small">
		Our latest news	</span>
                                </p>
                            </div>

                            <div class="fw-divider-space " style="padding-top: 50px;"></div>
                        </div>
                        <div class="col-xs-12 to_animate text-center"  data-animation="slideUp">
                            <div class="shortcode-posts">
                                <div
                                        class="owl-carousel"
                                        data-margin="30"
                                        data-responsive-xs="1"
                                        data-responsive-sm="2"
                                        data-responsive-md="3"
                                        data-responsive-lg="3"
                                >
                                    <div
                                            class="owl-carousel-item item-layout-item-extended uncategorized  ">
                                        <article class="vertical-item content-padding with_shadow text-center rounded overflow-hidden filter-uncategorized post-2768 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                                            <div class="item-media">
                                                <img width="775" height="517" src="{{ asset('wp-content/uploads/2017/08/11-775x517.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-775x517.jpg 775w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-300x200.jpg 300w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-768x512.jpg 768w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-1024x683.jpg 1024w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11.jpg 1170w" sizes="(max-width: 775px) 100vw, 775px" />			<div class="media-links">
                                                    <a class="abs-link" href="shankle-doner-ribeye-ham-hock-shank/index.html"></a>
                                                </div>
                                                <a class="bottom-right-corner" href="shankle-doner-ribeye-ham-hock-shank/index.html#comments">
                                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="item-content">
                                                <span class="entry-date post-date highlight3"><a href="shankle-doner-ribeye-ham-hock-shank/index.html" rel="bookmark"><time class="entry-date" datetime="2017-08-11T13:52:21+00:00">August 11, 2017</time></a></span>		<h4 class="item-title hover-color3">
                                                    <a href="shankle-doner-ribeye-ham-hock-shank/index.html">
                                                        Shankle doner ribeye ham hock shank			</a>
                                                </h4>
                                                <p>Veniam pastrami sirloin, andouille aliqua consequat incididunt eu. Prosciutto pork belly excepteur strip steak in tongue venison nisi sunt landjaeger</p>
                                                <a href="shankle-doner-ribeye-ham-hock-shank/index.html" class="read-more"></a>
                                            </div>
                                        </article><!-- eof vertical-item -->
                                    </div>
                                    <div
                                            class="owl-carousel-item item-layout-item-extended sem  ">
                                        <article class="vertical-item content-padding with_shadow text-center rounded overflow-hidden filter-sem post-2772 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                            <div class="item-media">
                                                <img width="775" height="517" src="{{ asset('wp-content/uploads/2017/08/04-1-775x517.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-775x517.jpg 775w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-300x200.jpg 300w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-768x512.jpg 768w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-1024x683.jpg 1024w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1.jpg 1170w" sizes="(max-width: 775px) 100vw, 775px" />			<div class="media-links">
                                                    <a class="abs-link" href="t-bone-capicola-kevin-pancetta/index.html"></a>
                                                </div>
                                                <a class="bottom-right-corner" href="t-bone-capicola-kevin-pancetta/index.html#comments">
                                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="item-content">
                                                <span class="entry-date post-date highlight3"><a href="t-bone-capicola-kevin-pancetta/index.html" rel="bookmark"><time class="entry-date" datetime="2017-08-07T09:54:50+00:00">August 7, 2017</time></a></span>		<h4 class="item-title hover-color3">
                                                    <a href="t-bone-capicola-kevin-pancetta/index.html">
                                                        T-bone capicola kevin pancetta			</a>
                                                </h4>
                                                <p>Fatback jerky pig sirloin. Beef landja pork beef ribs kielbasa shoulder tongue pig venison pork chop.</p>
                                                <a href="t-bone-capicola-kevin-pancetta/index.html" class="read-more"></a>
                                            </div>
                                        </article><!-- eof vertical-item -->
                                    </div>
                                    <div
                                            class="owl-carousel-item item-layout-item-extended sem  ">
                                        <article class="vertical-item content-padding with_shadow text-center rounded overflow-hidden filter-sem post-2773 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                            <div class="item-media">
                                                <img width="775" height="517" src="{{ asset('wp-content/uploads/2017/08/08-775x517.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-775x517.jpg 775w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-300x200.jpg 300w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-768x512.jpg 768w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-1024x683.jpg 1024w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08.jpg 1170w" sizes="(max-width: 775px) 100vw, 775px" />			<div class="media-links">
                                                    <a class="abs-link" href="beef-tri-tip-brisket-jerky-boudin/index.html"></a>
                                                </div>
                                                <a class="bottom-right-corner" href="beef-tri-tip-brisket-jerky-boudin/index.html#comments">
                                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="item-content">
                                                <span class="entry-date post-date highlight3"><a href="beef-tri-tip-brisket-jerky-boudin/index.html" rel="bookmark"><time class="entry-date" datetime="2017-08-06T09:54:58+00:00">August 6, 2017</time></a></span>		<h4 class="item-title hover-color3">
                                                    <a href="beef-tri-tip-brisket-jerky-boudin/index.html">
                                                        Beef tri-tip brisket jerky boudin			</a>
                                                </h4>
                                                <p>Fatback jerky pig sirloin. Beef landja pork beef ribs kielbasa shoulder tongue pig venison pork chop.</p>
                                                <a href="beef-tri-tip-brisket-jerky-boudin/index.html" class="read-more"></a>
                                            </div>
                                        </article><!-- eof vertical-item -->
                                    </div>
                                    <div
                                            class="owl-carousel-item item-layout-item-extended uncategorized  ">
                                        <article class="vertical-item content-padding with_shadow text-center rounded overflow-hidden filter-uncategorized post-110 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                                            <div class="item-media">
                                                <img width="775" height="517" src="{{ asset('wp-content/uploads/2017/08/10-775x517.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/10-775x517.jpg 775w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/10-300x200.jpg 300w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/10-768x512.jpg 768w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/10-1024x683.jpg 1024w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/10.jpg 1170w" sizes="(max-width: 775px) 100vw, 775px" />			<div class="media-links">
                                                    <a class="abs-link" href="post-with-video/index.html"></a>
                                                </div>
                                                <a class="bottom-right-corner" href="post-with-video/index.html#comments">
                                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="item-content">
                                                <span class="entry-date post-date highlight3"><a href="post-with-video/index.html" rel="bookmark"><time class="entry-date" datetime="2017-06-10T10:14:59+00:00">June 10, 2017</time></a></span>		<h4 class="item-title hover-color3">
                                                    <a href="post-with-video/index.html">
                                                        Post With Video			</a>
                                                </h4>
                                                <p>Salami rump meatball beef. Turducken porchetta picanha pork belly, chicken ground round tri-tip pork loin boudin sirloin pastrami tenderloin cupim</p>
                                                <a href="post-with-video/index.html" class="read-more"></a>
                                            </div>
                                        </article><!-- eof vertical-item -->
                                    </div>
                                    <div
                                            class="owl-carousel-item item-layout-item-extended sem  ">
                                        <article class="vertical-item content-padding with_shadow text-center rounded overflow-hidden filter-sem post-2358 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                            <div class="item-media">
                                                <img width="775" height="517" src="{{ asset('Picture/05-2-775x517.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />			<div class="media-links">
                                                    <a class="abs-link" href="post-with-small-image/index.html"></a>
                                                </div>
                                                <a class="bottom-right-corner" href="post-with-small-image/index.html#comments">
                                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="item-content">
                                                <span class="entry-date post-date highlight3"><a href="post-with-small-image/index.html" rel="bookmark"><time class="entry-date" datetime="2017-06-08T23:34:44+00:00">June 8, 2017</time></a></span>		<h4 class="item-title hover-color3">
                                                    <a href="post-with-small-image/index.html">
                                                        Post With Small Image			</a>
                                                </h4>
                                                <p>Stet clita kasd gubergren, no sea takimata sanctus sed diam voluptua.</p>
                                                <a href="post-with-small-image/index.html" class="read-more"></a>
                                            </div>
                                        </article><!-- eof vertical-item -->
                                    </div>
                                    <div
                                            class="owl-carousel-item item-layout-item-extended sem  ">
                                        <article class="vertical-item content-padding with_shadow text-center rounded overflow-hidden filter-sem post-2307 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                            <div class="item-media">
                                                <img width="775" height="517" src="{{ asset('wp-content/uploads/2017/08/features-775x517.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/features-775x517.jpg 775w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/features-1170x780.jpg 1170w" sizes="(max-width: 775px) 100vw, 775px" />			<div class="media-links">
                                                    <a class="abs-link" href="post-with-image/index.html"></a>
                                                </div>
                                                <a class="bottom-right-corner" href="post-with-image/index.html#comments">
                                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="item-content">
                                                <span class="entry-date post-date highlight3"><a href="post-with-image/index.html" rel="bookmark"><time class="entry-date" datetime="2017-06-08T19:17:04+00:00">June 8, 2017</time></a></span>		<h4 class="item-title hover-color3">
                                                    <a href="post-with-image/index.html">
                                                        Post With Image			</a>
                                                </h4>
                                                <p>Andouille ball tip turducken landjaeger cupim tail. Ball tip shankle shank kevin, bacon prosciutto drumstick short loin ham hock leberkas</p>
                                                <a href="post-with-image/index.html" class="read-more"></a>
                                            </div>
                                        </article><!-- eof vertical-item -->
                                    </div>
                                </div>
                            </div></div>
                    </div>
                </div>
            </section>
        </div>
        <footer id="footer" class="page_footer section_padding_top_100 section_padding_bottom_90 columns_padding_25 ds"  style="background-image: url(wp-content/uploads/2017/08/footer-image.jpg)">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12 col-md-4 text-center to_animate" data-animation="fadeInUp">
                        <div id="pet_space_banner-2" class="widget-odd widget-first widget-1 text-center widget widget_banner">	<img src="{{ asset('wp-content/uploads/2017/10/logo-2.png') }}" alt="">
                        </div><div id="text-2" class="widget-even widget-2 text-center widget widget_text">			<div class="textwidget"><p>Pork loin venison andouille filet mignon picanha. Prosciutto brisket chuck, ham sausage beef ribs corned.</p>
                            </div>
                        </div><div id="pet_space_icons_list-2" class="widget-odd widget-3 text-center widget widget_icons_list">		<div class="widget-icons-list no-bullets no-top-border no-bottom-border grey">
                                <div class="media small-teaser inline-block margin_0">
                                    <div class="media-left">
                                        <i class="fa fa-map-marker highlight"></i>
                                    </div>
                                    <div class="media-body darklinks color3">
                                        253 Adams Ave, Iowa						</div>
                                </div>
                                <div class="media small-teaser inline-block margin_0">
                                    <div class="media-left">
                                        <i class="fa fa-phone highlight"></i>
                                    </div>
                                    <div class="media-body darklinks color3">
                                        8 800 269 8469 						</div>
                                </div>
                                <div class="media small-teaser inline-block margin_0">
                                    <div class="media-left">
                                        <i class="fa fa-envelope highlight"></i>
                                    </div>
                                    <div class="media-body darklinks color3">
                                        <a href="mailto:example@example.com">example@examplecom</a>						</div>
                                </div>
                                <div class="media small-teaser inline-block margin_0">
                                    <div class="media-left">
                                        <i class="fa fa-internet-explorer highlight"></i>
                                    </div>
                                    <div class="media-body darklinks color3">
                                        <a href="#">www.example.com</a>						</div>
                                </div>
                            </div>
                        </div><div id="pet_space_socials-2" class="widget-even widget-last widget-4 text-center widget widget_socials">		<div class="widget-socials no-bullets no-top-border no-bottom-border topmargin_20">
                                <a href="http://www.facebook.com/#" target="_blank" class="social-icon border-icon fontsize_12 rounded-icon social-icon soc-facebook"></a>
                                <a href="http://twitter.com/#" target="_blank" class="social-icon border-icon fontsize_12 rounded-icon social-icon soc-twitter"></a>
                                <a href="http://plus.google.com/#" target="_blank" class="social-icon border-icon fontsize_12 rounded-icon social-icon soc-google"></a>
                            </div>
                        </div>			</div>
                    <div class="col-xs-12 col-md-4 text-center to_animate" data-animation="fadeInUp">
                        <div id="text-3" class="widget-odd widget-last widget-first widget-1 text-center widget widget_text"><h3 class="widget-title"><span class="first-word">Contact</span> <span class="last-word">Form</span></h3>			<div class="textwidget"><div role="form" class="wpcf7" id="wpcf7-f43-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="http://webdesign-finder.com/pet-space/#wpcf7-f43-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="43" /><br />
                                            <input type="hidden" name="_wpcf7_version" value="4.9" /><br />
                                            <input type="hidden" name="_wpcf7_locale" value="en_US" /><br />
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f43-o1" /><br />
                                            <input type="hidden" name="_wpcf7_container_post" value="0" />
                                        </div>
                                        <p><span class="fa fa-user highlight3"></span><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Full Name" /></span></p>
                                        <p><span class="fa fa-envelope highlight3"></span><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email Address" /></span></p>
                                        <p><span class="fa fa-comment highlight3"></span><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="45" rows="3" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false" placeholder="Message..."></textarea></span></p>
                                        <div class="footer_contact-form-submit topmargin_20"><input type="submit" value="Send Now" class="wpcf7-form-control wpcf7-submit theme_button wide_button color3" /></div>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>
                            </div>
                        </div>			</div>
                    <div class="col-xs-12 col-md-4 text-center to_animate" data-animation="fadeInUp">
                        <div id="pet_space_theme_posts-3" class="widget-odd widget-last widget-first widget-1 text-center widget widget_popular_entries">	<h3 class="widget-title"><span class="first-word">Recent</span> <span class="last-word">Posts</span></h3>	<ul id="theme_posts_5a737509b0d87" class="media-list">
                                <li class="media post-2768 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                                    <div class="media-body">
                                        <h6 class="title"><a href="shankle-doner-ribeye-ham-hock-shank/index.html">Shankle doner ribeye ham hock shank</a></h6>
                                        <p>Veniam pastrami sirloin, andouille aliqua consequat incididunt eu. Prosciutto pork belly excepteur strip steak in tongue venison nisi sunt landjaeger</p>
                                        <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 11, 2017                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="media post-2772 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                    <div class="media-body">
                                        <h6 class="title"><a href="t-bone-capicola-kevin-pancetta/index.html">T-bone capicola kevin pancetta</a></h6>
                                        <p>Fatback jerky pig sirloin. Beef landja pork beef ribs kielbasa shoulder tongue pig venison pork chop.</p>
                                        <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 7, 2017                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>				</div>
                </div>

            </div>
        </footer><!-- .page_footer -->
        <section class="ls page_copyright section_padding_15">
            <h3 class="hidden">Page Copyright</h3>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>&copy; Copyright 2017 All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </section><!-- .copyrights -->	</div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->
<link rel='stylesheet' id='date-timepicker-css-css'  href='{{ asset('wp-content/themes/pet-space/framework-customizations/extensions/forms/includes/builder-items/date-time/static/css/bootstrap-datetimepicker.min.css') }}' type='text/css' media='all' />
<script type='text/javascript' src='{{ asset('wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4')}}'></script>
<script type='text/javascript' src='{{ asset('wp-includes/js/jquery/ui/datepicker.mine899.js?ver=1.11.4')}}'></script>
<script type='text/javascript'>
    jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"MM d, yy","firstDay":1,"isRTL":false});});
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/booked/assets/js/spin.min7406.js?ver=2.0.1')}}'></script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/booked/assets/js/spin.jquery7406.js?ver=2.0.1')}}'></script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/booked/assets/js/tooltipster/js/jquery.tooltipster.min9b70.js?ver=3.3.0')}}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var booked_js_vars = {"ajax_url":"http:\/\/webdesign-finder.com\/pet-space\/wp-admin\/admin-ajax.php","profilePage":"","publicAppointments":"","i18n_confirm_appt_delete":"Are you sure you want to cancel this appointment?","i18n_please_wait":"Please wait ...","i18n_wrong_username_pass":"Wrong username\/password combination.","i18n_fill_out_required_fields":"Please fill out all required fields.","i18n_guest_appt_required_fields":"Please enter your name to book an appointment.","i18n_appt_required_fields":"Please enter your name, your email address and choose a password to book an appointment.","i18n_appt_required_fields_guest":"Please fill in all \"Information\" fields.","i18n_password_reset":"Please check your email for instructions on resetting your password.","i18n_password_reset_error":"That username or email is not recognized."};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/booked/assets/js/functions1717.js?ver=2.0.6')}}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = {"apiSettings":{"root":"http:\/\/webdesign-finder.com\/pet-space\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/contact-form-7/includes/js/scripts33a6.js?ver=4.9') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var sb_instagram_js_options = {"sb_instagram_at":"1745684104.3a81a9f.a81e0b476f3146d38e21ec9bf30bc5f0"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/instagram-feed/js/sb-instagram.min7ef2.js?ver=1.5') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\/pet-space\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/webdesign-finder.com\/pet-space\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/webdesign-finder.com\/pet-space\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.mindeae.js?ver=3.2.1') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/pet-space\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/webdesign-finder.com\/pet-space\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.mindeae.js?ver=3.2.1') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/pet-space\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/webdesign-finder.com\/pet-space\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments_16bed13ee095dc6c6ced5e9fbeaae42d"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.mindeae.js?ver=3.2.1') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/js/compressed20b9.js?ver=1.0.2') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/js/plugins20b9.js?ver=1.0.2') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/js/selectizef269.js?ver=1.0.1') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/js/woo20b9.js?ver=1.0.2') }}wp-content/themes/pet-space/js/woo20b9.js?ver=1.0.2'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/js/main20b9.js?ver=1.0.2') }}'></script>
<script type='text/javascript' src='{{ asset('wp-includes/js/wp-embed.minee45.js?ver=4.8.4') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/framework-customizations/extensions/forms/includes/builder-items/date-time/static/js/moment-with-locales.min.js') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/framework-customizations/extensions/forms/includes/builder-items/date-time/static/js/bootstrap.min.js') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/framework-customizations/extensions/forms/includes/builder-items/date-time/static/js/bootstrap-datetimepicker.min.js') }}'></script>
</body>
     {% endblock %}
<!-- Mirrored from webdesign-finder.com/pet-space/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Feb 2018 20:15:43 GMT -->
</html>